ul>li{
  list-style-type: none;
}

.container{
width: 320px;
border:7px solid white;
text-align: center;
margin: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

input[type="text"]{
  background-color: transparent;
  outline: none;
}

button{
  margin-left: 3px;
  background-color: transparent;
  outline: none;
}